conf.py

/dto9base.py
/libudev.so.0
/libpaycard.so
/libfptr.so
/libQtNetwork.so.4
/libarcus2.so
/libgui_engine.so
/libQtXml.so.4
/paycard_t.sh
/libQtGui.so.4
/libusb-1.0.so.0
/paycard_t
/version.txt
/fptr_t.sh
/kkt.log
/libsberbank.so
/libinpas.so
/libpaycard_gui.so
/dto9fptr.py
/libQtCore.so.4
/fptr_t
